In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [2]:
unemployment_MH_file = os.path.join("Resource","project_f_data.csv" )
#encoding = "utf-8"
#read in our csv file
unemployment_MH_df = pd.read_csv(unemployment_MH_file, encoding="latin")
#display our dataframe from our csv file
unemployment_MH_df.tail()

,I am currently employed at least part-time,I identify as having a mental illness,Education,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness,I am legally disabled,I have my regular access to the internet,I live with my parents,I have a gap in my resume,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,Age,Gender,Household Income,Region,Device Type
329,0,0,High School or GED,1,0,NaN,1,1,0,0,...,0.0,0.0,0.0,0.0,1.0,45-60,Female,Prefer not to answer,Mountain,Android Phone / Tablet
330,1,0,Some Undergraduate,1,0,0.0,0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,18-29,Male,"$50,000-$74,999",Pacific,Windows Desktop / Laptop
331,1,0,Some Undergraduate,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,> 60,Female,"$10,000-$24,999",West North Central,Windows Desktop / Laptop
332,0,1,Some Undergraduate,0,1,1.0,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,18-29,Female,"$0-$9,999",West South Central,Android Phone / Tablet
333,1,1,Some Undergraduate,1,0,0.0,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,18-29,Female,"$10,000-$24,999",Pacific,Android Phone / Tablet

In [3]:
#show our columns to reconstruct our data frame
unemployment_MH_df.columns

Index(['I am currently employed at least part-time',
       'I identify as having a mental illness', 'Education',
       'I have my own computer separate from a smart phone',
       'I have been hospitalized before for my mental illness',
       'How many days were you hospitalized for your mental illness',
       'I am legally disabled', 'I have my regular access to the internet',
       'I live with my parents', 'I have a gap in my resume',
       'Total length of any gaps in my resume inÃ¿months.',
       'Annual income including any social welfare programs in USD',
       'I am unemployed', 'I read outside of work and school',
       'Annual income from social welfare programs', 'I receive food stamps',
       'I am on section 8 housing',
       'How many times were you hospitalized for your mental illness',
       'Lack of concentration', 'Anxiety', 'Depression', 'Obsessive thinking',
       'Mood swings', 'Panic attacks', 'Compulsive behavior', 'Tiredness',
       'Age', 'Gender', 'Household Income', 'Region', 'Device Type'],
      dtype='object')

In [7]:
#pulling our index's data to then rename them in a reconstructed dataframe
annual_income = unemployment_MH_df.loc[unemployment_MH_df['Annual income including any social welfare programs in USD']]
annual_income
#education = unemployment_MH_df.iloc[unemployment_MH_df['Education']]
#obsessive_thinking = unemployment_MH_df.iloc[unemployment_MH_df['Obsessive thinking']]
#mood_swings = unemployment_MH_df.iloc[unemployment_MH_df['Mood Swings']]
#panic_attacks =unemployment_MH_df.iloc[unemployment_MH_df['Panic Attacks']]

,I am currently employed at least part-time,I identify as having a mental illness,Education,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness,I am legally disabled,I have my regular access to the internet,I live with my parents,I have a gap in my resume,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,Age,Gender,Household Income,Region,Device Type
35,1,1,Some Undergraduate,1,0,NaN,0,1,0,1,...,1.0,0.0,1.0,1.0,1.0,30-44,Male,"$25,000-$49,999",East North Central,iOS Phone / Tablet
22,1,0,Completed Undergraduate,1,0,0.0,0,1,0,0,...,0.0,0.0,1.0,0.0,0.0,30-44,Male,"$75,000-$99,999",South Atlantic,Android Phone / Tablet
100,1,0,Some Undergraduate,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,> 60,Male,"$50,000-$74,999",West South Central,iOS Phone / Tablet
0,0,0,High School or GED,0,0,0.0,0,1,0,1,...,1.0,0.0,1.0,0.0,0.0,30-44,Male,"$25,000-$49,999",Mountain,Android Phone / Tablet
32,0,0,High School or GED,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,18-29,Male,"$25,000-$49,999",East North Central,iOS Phone / Tablet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0,0,High School or GED,0,0,0.0,0,1,0,1,...,1.0,0.0,1.0,0.0,0.0,30-44,Male,"$25,000-$49,999",Mountain,Android Phone / Tablet
62,1,0,Completed Masters,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,45-60,Male,"$75,000-$99,999",Middle Atlantic,Windows Desktop / Laptop
0,0,0,High School or GED,0,0,0.0,0,1,0,1,...,1.0,0.0,1.0,0.0,0.0,30-44,Male,"$25,000-$49,999",Mountain,Android Phone / Tablet
12,1,1,Completed Undergraduate,1,0,0.0,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$50,000-$74,999",Middle Atlantic,Windows Desktop / Laptop
25,1,0,Completed Masters,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,30-44,Male,"$25,000-$49,999",West North Central,MacOS Desktop / Laptop